.length{
  font-size: xx-large;
}
.container{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 8%;
}
.app{
  background-color: #222;
  border-radius: 3%;
  width: 500px;
  height: 500px;
}
.note textarea{
  height: 200px; 
  background-color: #222;
  color:white;
  width: 475px;
  border: none;
  outline: none;
  border-radius: 3%;
  height: 330px;
  font-size: 150%;
  resize: none;
}

.notes{
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  
}
.note{
  margin-left: 10px;
  margin-right: 0px;
}
.head{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.head button{
  color: #fff;
  background-color: rgb(255, 43, 43);
  border-radius: 20px;
  font-style: oblique;
  border: none;
  width: 20%;
  height: 50%;
  font-size:larger;
}
.header{
  background-color:#002159;
  align-items:center;
  color:rgb(206, 241, 47);
  font-family: "Arial Black", sans-serif;
  font-style: normal;
  font-variant: normal;
  display:flex;
  justify-content:space-between;
  border-radius:7px;
  margin-bottom:5px;
}
p{
  color: rgb(168, 241, 31);
  margin-top: 10px;
  margin-bottom: 10px;
}
.addButton{
  margin-top: 0;
  background-color: rgb(255, 43, 43);
  border-radius: 50%;
  width:160%;
  height: 100%;
}
.AddButton{
  position:fixed;
  top:71%;
  left:61%
}
.titles{
  overflow: auto;
  height: 380px;
  margin-left: 10px;
}
::-webkit-scrollbar-track{
  width: 10px;
}
::-webkit-scrollbar{ 
  background: #444337; 
  width: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background:#6E6C59;
  border-radius: 5px;
}
.notesicon{
  padding-left: 20px;
  width: 90px;
  height:90px;
}